#
# Linux config file/Windows ZN config file for the Peops Soft psx gpu plugin
# only certain 15 bit, 16 bit and 32 bit desktop color depths are supported!
# 

[screen]
ResX            = 640    # X resolution (def=640)
ResY            = 480    # Y resolution (def=480)
NoStretch       = 0      # stretching to ResX/Y (0=hw/accel, 1=none,2-9: 2x modes; def=1)
FullScreen      = 0      # fullscreen (0/1, def=0), still needs correct ResX/Y
UseDither       = 0      # dithering (0-2, def=0)

[framerate]
ShowFPS         = 1      # show fps menu on startup (0/1, def=1)
UseFrameLimit   = 1      # fps limitation (0/1, def=0)
UseFrameSkip    = 0      # frame skipping (0/1, def=0)
FPSDetection    = 2      # rate detection (1:user val,def=2:auto)
FrameRate       = 100    # user value for frame rate (1-1000)

[misc]
ScanLines       = 0      # show scanlines (0/1, def=0)

[fixes]
UseFixes        = 0      # use CfgFixes (0/1, def=0)
CfgFixes        = 0      # fix bits (0=none,1=odd/even,2=screen width,4=no brightness,8=no coord check,16=unused,32=PC fps,64=lazy screen update,128=old skipping)


